*Python Basics Questions*

1) What is Python, and why is it popular ?

ans-	Python is a programming language that is easy to understand and write, making it a popular choice among developers and programmers.

2) What is an interpreter in Python ?

ans- 	An Interpreter is software of Python. It can directly execute via written instruction and it execute the code line by line.

3)What are pre-defined keywords in Python ?

ans- 	In Python, Keywords are predefined reserved words that have specific purpose and hold a special meaning in Python.

4)Can keywords be used as variable names ?

ans -	No, Keywords cannot be used as variable names, because Keywords are reserved words in Python.

5)What is mutability in Python ?

ans - Mutability is property of objects in python. It is changeable objects or container. it can have changed, modified and updated without creating a new object.

6)Why are lists mutable, but tuples are immutable ?

Ans- 	Because mutable can be changed and modified after creation but immutable, it cannot be changed or modified after initial creation.

7)What is the difference between “==” and “is” operators in Python ?

Ans-	The “==” is a comparison operator, it uses between two value for compare, but the “Is” defined two variable refer to the same object in memory.

8)What are logical operators in Python ?

Ans - 8)	The logical operators are used to combine or modify conditional statement, they allow to create more complex condition. There are three primary logical operators “ AND , OR , NOT “.

9)What is type casting in Python

Ans - 	The type casting is a process of conversion. It can be convert a data type to different data type. Example – we can convert a sting to integer or a float to sting.

10)What is the difference between implicit and explicit type casting
?

Ans -	The Explicit Type Casting, it can be programing manually. While processing more control over the type conversion. It required more code but offers more clarity and control.                          The Implicit Type Casting, It works automatic. While processing less control over the type conversion. User needs to handle very carefully for expected results.

11)What is the purpose of conditional statements in Python ?

Ans - 11)	Conditional statements in Python are used to execute certain blocks of code based on specific conditions. These statements help control the flow of a program, making it behave differently in different situations.

12) How does the elif statement work ?

Ans- 12)	The if-else statement is used to execute both the true part and the false part of a given condition. If the condition is true, the if block code is executed and if the condition is false, the else block code is executed.

13)What is the difference between for and while loops ?

Ans - 13)	A for loop is used when you know how many times you want to repeat something. A while loop is used when you want to keep repeating something until a certain condition is no longer true.                                                                                                                    For loops are good for going through lists or doing something a set number of times.
While loops are better when you don’t know in advance how many times the code needs to run.

14) Describe a scenario where a while loop is more suitable than a for loop?
Ans -

Practical Questions

1) Write a Python program to print "Hello, World!" ?

In [ ]:
print("Hello world")

Hello world

2)Write a Python program that displays your name and age ?

In [ ]:
user_input = input("please enter your name: ")
user_input = input("please enteryour age: ")
print(user_input)

please enter your name: sudhir kumar
please enteryour age: 30
30

3)Write code to print all the pre-defined keywords in Python using the keyword library?

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
if 3 > 2:
  print("greater")

greater

In [ ]:
x = 6
y = 6
if x == 6:
  print("equel")
elif x > 6:
    print("greater")
else:
  print("lower")

equel

4)Write a program that checks if a given word is a Python keyword.

In [ ]:
import keyword
s=input("enter any word: ")
if keyword.iskeyword(s):
  print('s, is a keyword')
else:
  print('s, is not a keyword')

enter any word: class
s, is a keyword

5)Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

(I)list

In [ ]:
store_list1 = ["pencil","bule pen","black pen","whitner","5","false"]
type(store_list1)

list

In [ ]:
store_list1 = ["pencil","bule pen","black pen","whitner","5","false"]
store_list1.append("red pen")
print(store_list1)

['pencil', 'bule pen', 'black pen', 'whitner', '5', 'false', 'red pen']

In [ ]:
store_list1 = ["pencil","bule pen","black pen","whitner","5","false"]
del store_list1[5]
print(store_list1)

['pencil', 'bule pen', 'black pen', 'whitner', '5']

(II)TUPLE

In [ ]:
my_tuple = ("mango","ogange","grapes","papaya","coconut",5)
print(my_tuple)

('mango', 'ogange', 'grapes', 'papaya', 'coconut', 5)

In [ ]:
tuple1 = ("ram","shyam","ramu","raju","tapu")
tuple2 = list(tuple1)
tuple2.append("banana")
tuple1 = tuple(tuple2)
print(tuple1)

('ram', 'shyam', 'ramu', 'raju', 'tapu', 'banana')

 6)Write a function to demonstrate the behavior of mutable and immutable arguments

In [ ]:
tuple1 = ("ram","shyam","ramu","raju","tapu")
tuple2 = list(tuple1)
tuple2.remove("ramu")
tulpe1 = tuple(tuple2)
print(tuple1)

('ram', 'shyam', 'ramu', 'raju', 'tapu')

7) Write a program that performs basic arithmetic operations on two user-input numbers

In [ ]:
x = 7
y = 5
add = x*y
print(add)

35

8) Write a program to demonstrate the use of logical operators.

In [ ]:
False and True

False

In [ ]:
False or True

True

In [ ]:
True and True

True

9)Write a Python program to convert user input from string to integer, float, and boolean types.

sring to integer

In [ ]:
x = "6"
y = 7
int(x)+y

13

In [ ]:
x = "6"
print(type(x))
print(type(int(x)))

<class 'str'>
<class 'int'>

float to integer

In [ ]:
x = 6.5
print(x)
print(type(x))
print(type(int(x)))
int(x)

6.5
<class 'float'>
<class 'int'>

6

In [ ]:
y = 8.4
type(y)
float_value = int(y)
type(float_value)

int

In [ ]:
bool("5")

True

In [ ]:
bool(0)

False

In [ ]:
bool(-6)

True

10)Write code to demonstrate type casting with list elements

In [ ]:
x = ["1","2","3","4","5","6"]
list(map(int, x))

[1, 2, 3, 4, 5, 6]

11) Write a program that checks if a number is positive, negative, or zero

In [ ]:
x=int(input("enter number"))
if x>0:
  print("Positive")
elif x<0:
   print("Negative")
else:
   print("zero")

enter number5
Positive

12)Write a for loop to print numbers from 1 to 10.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13)Write a Python program to find the sum of all even numbers between 1 and 50.

In [ ]:
i=1
sum=0
while(i<=100):
  if(i%2==0):
    sum=sum+i
  i=i+1
  print("sum of even numbers from 1 to 100 =",sum)

sum of even numbers from 1 to 100 = 0
sum of even numbers from 1 to 100 = 2
sum of even numbers from 1 to 100 = 2
sum of even numbers from 1 to 100 = 6
sum of even numbers from 1 to 100 = 6
sum of even numbers from 1 to 100 = 12
sum of even numbers from 1 to 100 = 12
sum of even numbers from 1 to 100 = 20
sum of even numbers from 1 to 100 = 20
sum of even numbers from 1 to 100 = 30
sum of even numbers from 1 to 100 = 30
sum of even numbers from 1 to 100 = 42
sum of even numbers from 1 to 100 = 42
sum of even numbers from 1 to 100 = 56
sum of even numbers from 1 to 100 = 56
sum of even numbers from 1 to 100 = 72
sum of even numbers from 1 to 100 = 72
sum of even numbers from 1 to 100 = 90
sum of even numbers from 1 to 100 = 90
sum of even numbers from 1 to 100 = 110
sum of even numbers from 1 to 100 = 110
sum of even numbers from 1 to 100 = 132
sum of even numbers from 1 to 100 = 132
sum of even numbers from 1 to 100 = 156
sum of even numbers from 1 to 100 = 156
sum of even numbers from 1 to 100 = 182
sum of even numbers from 1 to 100 = 182
sum of even numbers from 1 to 100 = 210
sum of even numbers from 1 to 100 = 210
sum of even numbers from 1 to 100 = 240
sum of even numbers from 1 to 100 = 240
sum of even numbers from 1 to 100 = 272
sum of even numbers from 1 to 100 = 272
sum of even numbers from 1 to 100 = 306
sum of even numbers from 1 to 100 = 306
sum of even numbers from 1 to 100 = 342
sum of even numbers from 1 to 100 = 342
sum of even numbers from 1 to 100 = 380
sum of even numbers from 1 to 100 = 380
sum of even numbers from 1 to 100 = 420
sum of even numbers from 1 to 100 = 420
sum of even numbers from 1 to 100 = 462
sum of even numbers from 1 to 100 = 462
sum of even numbers from 1 to 100 = 506
sum of even numbers from 1 to 100 = 506
sum of even numbers from 1 to 100 = 552
sum of even numbers from 1 to 100 = 552
sum of even numbers from 1 to 100 = 600
sum of even numbers from 1 to 100 = 600
sum of even numbers from 1 to 100 = 650
sum of even numbers from 1 to 100 = 650
sum of even numbers from 1 to 100 = 702
sum of even numbers from 1 to 100 = 702
sum of even numbers from 1 to 100 = 756
sum of even numbers from 1 to 100 = 756
sum of even numbers from 1 to 100 = 812
sum of even numbers from 1 to 100 = 812
sum of even numbers from 1 to 100 = 870
sum of even numbers from 1 to 100 = 870
sum of even numbers from 1 to 100 = 930
sum of even numbers from 1 to 100 = 930
sum of even numbers from 1 to 100 = 992
sum of even numbers from 1 to 100 = 992
sum of even numbers from 1 to 100 = 1056
sum of even numbers from 1 to 100 = 1056
sum of even numbers from 1 to 100 = 1122
sum of even numbers from 1 to 100 = 1122
sum of even numbers from 1 to 100 = 1190
sum of even numbers from 1 to 100 = 1190
sum of even numbers from 1 to 100 = 1260
sum of even numbers from 1 to 100 = 1260
sum of even numbers from 1 to 100 = 1332
sum of even numbers from 1 to 100 = 1332
sum of even numbers from 1 to 100 = 1406
sum of even numbers from 1 to 100 = 1406
sum of even numbers from 1 to 100 = 1482
sum of even numbers from 1 to 100 = 1482
sum of even numbers from 1 to 100 = 1560
sum of even numbers from 1 to 100 = 1560
sum of even numbers from 1 to 100 = 1640
sum of even numbers from 1 to 100 = 1640
sum of even numbers from 1 to 100 = 1722
sum of even numbers from 1 to 100 = 1722
sum of even numbers from 1 to 100 = 1806
sum of even numbers from 1 to 100 = 1806
sum of even numbers from 1 to 100 = 1892
sum of even numbers from 1 to 100 = 1892
sum of even numbers from 1 to 100 = 1980
sum of even numbers from 1 to 100 = 1980
sum of even numbers from 1 to 100 = 2070
sum of even numbers from 1 to 100 = 2070
sum of even numbers from 1 to 100 = 2162
sum of even numbers from 1 to 100 = 2162
sum of even numbers from 1 to 100 = 2256
sum of even numbers from 1 to 100 = 2256
sum of even numbers from 1 to 100 = 2352
sum of even numbers from 1 to 100 = 2352
sum of even numbers from 1 to 100 = 2450
sum of even numbers from 1 to 100 = 2450
sum of even numbers from 1 to 100 = 2550

14) Write a program to reverse a string using a while loop.

In [ ]:
s=input('enter some string to reverse:')
output=''
i=len(s)-1
while i>=0:
  output=output+s[i]
  i=i-1
  print(output)

enter some string to reverse:prashant
t
tn
tna
tnah
tnahs
tnahsa
tnahsar
tnahsarp

15) Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
num =int(input("enter a number : "))
fact = 1

while(num !=0):
  fact = fact * num
  num = num - 1
  print(fact)

enter a number : 8
8
56
336
1680
6720
20160
40320
40320